/*
    font-family: 'Lexend Tera', sans-serif;      TITRE
    font-family: 'Montserrat', sans-serif;       TEXTE (0,200;0,300;0,400;1,200;1,300;1,400)

    #0A1225 -- rgba(10, 18, 37, 1)  = NAVY BLUE
    #6A080F -- rgba(106, 8, 15, 1)  = BURGUNDY
    NOR WHITE
*/


* {
    margin: 0 auto;
    padding: 0;
}

body {
    width : 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #0A1225;
}

/* HEADER */

header {
    width: 95%;
    height: 200px;
}

header h1 {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 2em;
    margin: 68px 0 0 5%;
    float: left;
    color: #0A1225;
}

header nav {
    text-transform: uppercase;
    float: right;
    margin: 78px 5% 0 0;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: #0A1225;
}

header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #0A1225;
    transition: width .3s;
}

header nav ul li a:hover:after {
    width: 100%;
}

@media screen and (max-width:1100px) {
    header {
        height: 140px;
    }
    header h1 {
        font-size: 1.6em;
        margin: 15px auto;
        width: 100%;
    }
    header nav {
        width: 100%;
        margin: 8px 5px;
        font-size: 0.7em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-content: start;
    }
}

/* DERNIERE SORTIE*/

#thefreshone {
    width: 100%;
    margin: 0;
    height: 350px;
    background-blend-mode: overlay;
    background-image:url("../img/openbook.jpg");
    background-color: #0A1225;
    background-size: cover;
    color: white;
}

#thefreshone .contenu {
    width: 60%;
    max-height: 330px;
    float: left;
    margin-top: 10px;
}

#thefreshone .contenu h2 {
    margin: 8% 5%;
    font-family: 'Lexend Tera', sans-serif;
}

#thefreshone .contenu p {
    margin: 5%;
    padding: 0 5%;
    text-align: justify;
    font-weight: 200;
}

a button {
    background-color: rgba(106, 8, 15, 0.8);
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: 2px;
}

a button:hover {
    background-color: #6A080F;
    cursor: pointer;
}

#thefreshone a button {
    float: right;
    margin: 180px 15% auto auto;
}

@media screen and (max-width:1100px) {
    #thefreshone .contenu {
        width: 100%;
    }
    #thefreshone .contenu h2 {
        margin: 4%;
        transform: scale(0.9);
    }
    #thefreshone .contenu p {
        font-size: 0.8em;
    }
    #thefreshone a button {
        float: none;
        margin: 0;
    }
}

/* SECTION ACCUEIL */

.classique {
    margin-top: 50px;
    width: 100%;
    color: #0A1225;
}

.classique h2 {
    font-size: 2em;
    font-weight: 200;
    margin: 0 auto;
    padding: 35px;
    text-decoration: none;
}

/* CONTENEUR FLEX BOX RÉUTILISABLE */

.conteneur-flex {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.conteneur-flex .flex {
    width: 250px;
    height: 450px;
    flex: 0 0 auto;
    margin: 40px 20px;
    border: 1px solid #0A1225;
}

.conteneur-flex .flex h4 {
    font-size: 3em;
    font-weight: 400;
    font-style: italic;
    margin-top: -20px;
}

.conteneur-flex .flex h3 {
    font-size: 2em;
    font-weight: 400;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    margin-top: -40px;
}

.conteneur-flex .flex h5 {
    padding: 0 20px 10px 20px;
    font-weight: 200;
    font-style: italic;
}

.conteneur-flex .flex img {
    width: 200px;
    margin-top: -10px;
}

.conteneur-flex .flex a button {
    margin: 10px auto;
}

.boutonsimple {
    width: 30%;
    height: auto;
    margin: 40px auto 50px auto;
    text-align: center;
}

@media screen and (max-width:1100px) {
    #accueil h2 {
        font-size: 1.5em;
        padding: 15px;
    }
    #accueil .boutonsimple {
        width: 55%;
    }
}

/* A PROPOS */

.a-propos {
    width: 800px;
    margin: 100px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/stylo.jpg');
    height: 250px;
}

.a-propos div {
    background-color: #0A1225;
    width: 30%;
    height: 250px;
    position: relative;
    left: 35%;
}

 .a-propos div a button{
    margin: 60px 50px 0 50px;
}

@media screen and (max-width:1100px) {
    .a-propos {
        width: 70%;
        height: 250px;
    }
    .a-propos div {
        width: 250px;
        max-height: 250px;
        position: absolute;
        right: 0;
    }
}

/* FOOTER */

footer {
    width: 100%;
    min-height: 150px;
    background: #0A1225;
    bottom: 0;
}

footer div {
    margin: 0 auto;
    width: 90%;
}


footer div ul {
    float: left;
    padding-top: 20px;
    display: inline-block;
    color:  white;
    text-transform: uppercase;
}

footer div ul li {
    margin-right: 50px;
    list-style: none;
    text-align: left;
}

footer div ul li a {
    font-size: 0.7em;
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}

footer div ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width .3s;
}

footer div ul li a:hover:after {
    width: 100%;
}

.linkandcopyright {
    background-color: #0A1225;
    width: 100%;
    color: white;
    float: right;
    margin-top: 25px;
}

.linkandcopyright h3 {
    text-decoration: none;
    font-weight: 200;
    font-size: 0.8em;
    margin: 5px;
}

.linkandcopyright a img {
    width: 40px;
    display: inline-block;
    margin: 20px;
}

/* SMALL TITLE */

h3 {
    font-size: 1.8em;
    font-weight: 200;
    margin: 0 auto;
    padding: 35px;
    text-decoration: none;
}

/* AUTRES */

.small-italic {
    font-size: 0.7em;
    font-weight: 300;
    font-style: italic;
}

/* PAGE ARTICLE PARTICULIER */

#content {
    width: 100%;
}

#content h1 {
    width: 100%;
    background-color: #0A1225;
    color: white;
    margin: 0 auto 30px auto;
    padding: 50px 0;
    font-size: 2.2em;
    font-weight: 400;
    font-style: italic;
}

#content p {
    text-align: justify;
    font-size: 1.3em;
    font-weight: 300;
    width: 70%;
    margin: 50px auto;
}

#commentaires {
    width: 70%;
    margin: 30px auto;
}

#commentaires h6 {
    background-color: #0A1225;
    color: white;
    width: 90%;
    height: auto;
    position: relative;
    border-radius: 0 50px 50px 50px;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: 200;
    padding: 20px 40px;
}

#commentaires h6:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-right: 12px solid #0A1225;
    border-bottom: 12px solid transparent;
}

#commentaires form h6 {
    background-color: #6b7387 ;
}

#commentaires form h6:before {
    border-right: 12px solid #6b7387 ;
}

#commentaires hr {
    border: 3px solid transparent;
    width: 100%;
}

#commentaires form h6 textarea {
    width: 90%;
    height: auto;
    background-color: #6b7387 ;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    font-weight: 200;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

#commentaires form h6 input {
    margin-top: 10px;
    background-color: #0A1225;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: 2px;
}

#commentaires form h6 input:hover {
    background-color: white;
    color: #0A1225;
}

/* BIGBLUE */

.bigblue {
    background-color: #0A1225;
    color: white;
}

/* FLEX BOX LARGE */

.flexboxlarge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 100%;
}

.flexlarge {
    width: 70%;
    height: 250px;
    flex: 0 0 auto;
    margin: 20px;
    border: 1px solid #0A1225;
}

.flexlarge img {
    height: 250px;
    width: auto;
    float: left;
}

.flexlarge h3 {
    text-align: left;
    margin: 10px 0 0 230px;
}

.flexlarge h6 {
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 200;
    text-align: justify;
    padding: 0 20px 0 20px;
    margin-top: -20px;
    max-height: 50px;
    overflow: hidden;
}

.flexlarge .boutonsimple {
    position: absolute;
    right: 115px;
}

/* A PROPOS */

#content #titreapropos {
    width: 100%;
    margin: 0;
    padding-top: 150px;
    height: 150px;
    background-blend-mode: overlay;
    background-image:url("../img/stylo.jpg");
    background-color: #0A1225;
    background-size: cover;
    color: white;
}

#content #apropos {
    width: 60%;
}